:root {
  --basic-white: #FFFFFF;
  --light-black: #283136;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --extra-red: #E74246;
  --dark-red: #D7373B;
  --white-grey:#DBDBDB;
  --pale-grey: #EEEEEE;
  --light-grey: #666666;
  --grey: #E1E1E1;
  --middle-grey: #DFDFDF;
  --extra-grey: #D5D5D5;
  --dark-grey:#444444;
  --light-grafit: #A6A6A6;
  --grafit: #888888;
  --basic-green: #00CA74;
  --extra-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EFC84A;
  --basic-yellow: #EFC849;
  --extra-yellow: #EAB534;
  --dark-yellow: #E5A722;

}

body {
  min-width: 1178px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

/*img {*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*}*/




.main-nav-items, .nav-items-basket {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
}

.nav-item-current a:not([href]) {
  background-color: var(--pale-grey);
}

.nav-item-current {
  width: 74px;

}
.main-nav-items a,
.nav-items-basket a {
  color: var(--basic-black);
}

.main-nav-items a:hover,
.main-nav-items a:focus,
.nav-items-basket a:hover,
.nav-items-basket a:focus {
  color: var(--basic-red);
}

.main-nav-items a:active,
.nav-items-basket a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* slider */

.slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  display: flex;
  width: 538px;
  min-height: 111px;
}




.slogan-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  display: flex;
  width: 400px;
  min-heght: 49px;
}

.learn-more {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  padding: 17px 54px 15px 54px;
  background: var(--basic-red);
  border: 0;
  border-radius: 3px;
  border-color: var(--basic-red);
}

.learn-more:hover,
.learn-more:focus {
  background: var(--extra-red);
}

.learn-more:active {
  background: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.visually-hidden {
  display: none;
}

/* slider */

.slider {
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1157px;
  min-height: 431px;
}

.slide {
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  margin-top: 78px;
  margin-bottom: 80px;

}

.slider-img {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
  width: 760px;
}




.service {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.service-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
}

.button-red {
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  background: var(--basic-red);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-red a:hover,
.button-red a:focus {
  color: var(--extra-red);
}

.button-red a:active {
  color: var(--dark-red);
  mix-blend-mode: normal;
  opacity: 0.3;
}


.button-green {
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  background: var(--basic-green);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-green a:hover,
.button-green a:focus {
  color: var(--extra-green);
}

.button-green a:active {
  color: var(--dark-green);
  mix-blend-mode: normal;
  opacity: 0.3;
}


.button-yellow {
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  background: var(--basic-yellow);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-yellow a:hover,
.button-yellow a:focus {
  color: var(--extra-yellow);
}

.button-yellow a:active {
  color: var(--dark-yellow);
  mix-blend-mode: normal;
  opacity: 0.3;
}


.desc {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.principles {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
}

.features {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-black);
}

.feature-items {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  list-style: none;
}

.advantages {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.figures {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.indicators {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-black);
}

/* логотипы компаний */

.pic-logo {
  list-style: none;
}

.pic-logo a:link {
  opacity: 0.2;
}

.pic-logo a:hover,
.pic-logo a:focus {
  background-color: var(--basic-white);
  opacity: 1;
}

.pic-logo a:active {
  opacity: 0.1;
}

/* map */
.footer-contacts {
  width: 319px;
  height: 308px;
  left: 140px;
  top: 1897px;
  background: var(--basic-white);
}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-address,
.footer-tel {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-grey);
}


.write {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 17px 44px 15px 44px;
  background: var(--basic-red);
  border-radius: 3px;
}


/* Social button */

.social-items {
  list-style: none;
}


.social-button {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), var(--basic-white);
}

.social-button:hover,
.social-button:focus {
  background: linear-gradient(0deg, #E74246, #E74246), var(--basic-white);
}

.social-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), var(--basic-white);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}



.social-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
}

.social-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-grey);
}


/*catalog.html  */

.main-header-logo a:hover,
.main-header-logo a:focus {
background-color: var(--basic-black);
}

.main-header-logo a:active {
  background-color: var(--light-grafit);
}



.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

}

.sort {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

}

.sort-items {
  list-style: none;
}

.sort-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.sort-item:hover,
.sort-item:focus {
  opacity: 0.6;
}

.sort-item:active {
  color: var(--basic-black);
}

.down, .up {
  mix-blend-mode: normal;
  opacity: 0.2;
}

.down:hover,
.down:focus,
.up:hover,
.up:focus {
  opacity: 0;
}

.runner {
  width: 260px;
  height: 80px;
  background-color: var(--pale-grey);
  border-radius: 3px;
  color: var(--basic-green);
}

.cost-min,
.cost-max {
  width: 80px;
  height: 38px;
  left: 172px;
  top: 582px;
  background: var(--pale-grey);
  border-radius: 3px;
  text-align: center;
}

.min,
.max {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--light-black);

}

/* Filters */

.filter legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-black);
}

.filter-input-radio + label,
.filter-input-checkbox + label {
  font-weight: normal;
  font-size: 16px;
  color: var(--light-black);
}


.filter-input-radio:hover + label,
.filter-input-radio:focus + label,
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--light-black);
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  opacity: 0.3;
}


.show {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  background: var(--pale-grey);
  border-radius: 3px;
  margin-top: 50px;
}

.show:hover,
.show:focus {
  background: var(--middle-grey);
}

.show:active {
  background: var(--extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.catalog-item {
  list-style: none;
}
.catalog-item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--pale-grey);
  width: 360px;
  min-height: 231px;
}

.catalog-item-title h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 26px;

}

.catalog-item-title h3:hover,
.catalog-item-title h3:focus {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-red);
}

.catalog-item-title h3:active {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-item-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-grey);
  margin-top: 12px;
  margin-bottom: 32px;
}

.catalog-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 200px;
  height: 50px;
  padding: 17px 72px 15px 72px;
  background: var(--basic-red);
  border-radius: 3px;
  margin-bottom: 44px;
  margin-left: 80px;
  margin-right: 80px;
}

.catalog-item-button a:hover,
.catalog-item-button a:focus {

}

.catalog-item-button a:active {
  background: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.catalog-item-browser:hover,
.catalog-item-browser:focus {
  opacity: 0.12;
}


/* pagination */

.pagination-items  {
  list-style: none;
}



.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background: var(--pale-grey);
  border-radius: 3px;
}

.pagination-item-next a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--pale-grey);
  border-radius: 3px;
  padding: 15px 77px 17px 78px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item-next a:hover,
.pagination-item-next a:focus {
  background: var(--middle-grey);
}

.pagination-item a:active,
.pagination-item-next a:active {
  background: var(--extra-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

/* активный пункт */




/* grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 10px;
}


/* logo */

.main-header-logo {
  width: 160px;
  height: 65px;
  margin: 0;
  margin-top: 49px;
}



/* main-navigation */

.main-header {
  width: 1158px;
  margin-left: 140px;
}


.main-navigation .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.main-navigation-wrapper  {
  display: flex;
  flex-direction: row;
  margin-top: 75px;
}


.main-nav-items {
  display: flex;
  flex-direction: row;
  width: 450px;
  justify-content: space-between;
}

.nav-items-basket {
  margin-left: 245px;
  margin-right: 10px;
}














/* servises */

.services {
  width: 1157px;
  margin-bottom: 39px;
  margin-top: 80px;
}

.service-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
}

.service-text {
  margin-bottom: 32px;
}

.service {
  margin-top: 25px;
  margin-bottom: 16px;
}


/* footer */

.footer-social  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 140px;
  width: 1158px;
}

.social-list {
  margin: 0;
  margin-top: 68px;
  margin-bottom: 68px;
  width: 261px;
}

.social {
  margin: 0;
  margin-right: 100px;
  margin-top: 75px;
  margin-bottom: 74px;
  width: 660px;
}


/* filter catalog */

.page-catalog {
  display: flex;
}

.sort-list {
  padding: 0;
  margin: 0;
  margin-left: 140px;
}

.filter {
  padding: 0;
  margin: 0;
  width: 260px;
}

.products {
  width: 760px;
  padding: 0;
  margin: 0;
  margin-left: 140px;
}

.catalog-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.catalog-item {
  width: 360px;
  min-height: 400px;
  margin-right: 40px;
  margin-bottom:30px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-title {
  display: flex;
  justify-content: center;
  margin-top: 87px;
  margin-bottom: 163px;
}

.cont {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}


.sort-list {
  display: flex;
  flex-direction: row;
}

.sort-items {
  display: flex;
  flex-direction: row;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 54px;
}

.filter legend {
  margin-bottom: 13px;
}

.filter ul {
  padding: 0;
  margin: 0;
  line-height: 19px;
}

.filter fieldset:nth-child(2n) {
  margin-bottom: 46px;
}



