:root {
  --basic-white: #FFFFFF;
  --pale-black: #231F20;
  --light-black: #283136;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --extra-red: #E74246;
  --dark-red: #D7373B;
  --white-grey: #DBDBDB;
  --border-grey: #D7DCDE;
  --card-grey: #F2F2F2;
  --pale-grey: #EEEEEE;
  --argentum: #C1C1C1;
  --light-grey: #666666;
  --hover-grey: #B4B9BB;
  --range-grey: #ABABAB;
  --grey: #E1E1E1;
  --middle-grey: #DFDFDF;
  --extra-grey: #D5D5D5;
  --dark-grey: #444444;
  --radio-grey: #4D4D4D;
  --light-grafit: #A6A6A6;
  --grafit: #888888;
  --basic-green: #00CA74;
  --extra-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EFC84A;
  --basic-yellow: #EFC849;
  --extra-yellow: #EAB534;
  --dark-yellow: #E5A722
}

.page {
  height: 100%
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px
}

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Tahoma", sans-serif;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white)
}

a {
  text-decoration: none
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

.header {
  background-color: var(--pale-grey)
}

.header .container {
  max-width: 1160px;
  display: flex
}

.nav-logo {
  width: 160px;
  height: 65px;
  margin-top: 49px;
  fill: var(--basic-black);
  margin-right: 202px
}

.nav-logo:hover, .nav-logo:focus {
  fill: var(--basic-black)
}

.nav-logo:active {
  fill: var(--light-grafit)
}

.nav-items, .nav-basket {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none
}

.nav-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 75px;
  padding: 0
}

.nav-item:nth-child(2), .nav-item:nth-child(4) {
  margin-left: 44px
}

.nav-item:nth-child(3) {
  margin-left: 48px
}

.nav-item a {
  color: var(--basic-black);
  display: block
}

.nav-item a:hover, .nav-item a:focus {
  color: var(--basic-red)
}

.nav-item a:active {
  color: var(--basic-black);
  opacity: .3
}

.nav-item a:active link {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 2px solid;
  border-color: var(--basic-red)
}

.nav-basket {
  margin-top: 75px;
  margin-left: 247px
}

.basket a {
  position: relative
}

.basket a::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -41px;
  width: 15px;
  height: 15px;
  background-image: url(../img/index/basket-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0
}

.background-slider {
  background-color: var(--pale-grey)
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0)
}

.slider {
  width: 1160px;
  min-height: 431px;
  position: relative;
  margin-top: -7px
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 87px;
  z-index: 100;
  width: 123px;
  height: 36px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%)
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  border-radius: 50%;
  cursor: pointer
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: var(--basic-white);
  border-radius: 50%
}

.slider-items {
  margin: 0;
  padding: 0;
  list-style: none
}

.slider-item {
  padding: 78px 0 80px 0
}

.slider-item:nth-child(1) {
  background-image: url(../img/index/slide-first.png);
  background-repeat: no-repeat;
  background-position: 99% -1px
}

.slider-item:nth-child(2) {
  background-image: url(../img/index/slide-second.png);
  background-repeat: no-repeat;
  background-position: 100% 0
}

.slider-item:nth-child(3) {
  background-image: url(../img/index/slide-third.png);
  background-repeat: no-repeat;
  background-position: 100% -1px
}

#product-1:checked ~ .slider-items .slider-item:nth-child(1) {
  display: block
}

#product-2:checked ~ .slider-items .slider-item:nth-child(2) {
  display: block
}

#product-3:checked ~ .slider-items .slider-item:nth-child(3) {
  display: block
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before, #product-2:checked ~ .slider-controls .slider-controls-item--2::before, #product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: 4px;
  background-color: inherit;
  border: 2px solid var(--argentum);
  border-radius: 50%
}

.slider-item b {
  width: 538px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0
}

.slider-item p {
  width: 416px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black)
}

.p-slider-item-first {
  margin-top: 26px;
  margin-bottom: 37px
}

.p-slider-item-second, .p-slider-item-third {
  margin-top: 38px;
  margin-bottom: 26px
}

.slider-button {
  display: block;
  width: 240px;
  padding: 17px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px
}

.slider-button:hover, .slider-button:focus {
  background-color: var(--extra-red)
}

.slider-button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  color: rgba(255, 255, 255, .3)
}

.service {
  min-height: 348px;
  margin-top: 79px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--pale-grey)
}

.service-items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 100px
}

.service-items h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 16px
}

.service-items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  width: 260px;
  margin-bottom: 48px
}

.button-service {
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white)
}

.button-red {
  background: var(--basic-red)
}

.button-red:hover, .button-red:focus {
  background-color: var(--extra-red)
}

.button-red:active {
  background-color: var(--dark-red);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, .3)
}

.button-green {
  background: var(--basic-green)
}

.button-green:hover, .button-green:focus {
  background-color: var(--extra-green)
}

.button-green:active {
  background-color: var(--dark-green);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, .3)
}

.button-yellow {
  background: var(--basic-yellow)
}

.button-yellow:hover, .button-yellow:focus {
  background-color: var(--extra-yellow)
}

.button-yellow:active {
  background-color: var(--dark-yellow);
  mix-blend-mode: normal;
  color: rgba(255, 255, 255, .3)
}

.company {
  display: grid;
  grid-template-columns: 1fr 362px;
  margin-bottom: 45px
}

.description {
  margin: 0;
  padding-top: 73px
}

.heading {
  width: 651px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 32px
}

.principles {
  width: 646px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  margin-bottom: 40px
}

.features {
  width: 306px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-black);
  margin-bottom: 23px
}

.feature-items {
  width: 399px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  list-style: none;
  margin-left: -3px
}

.feature-item {
  position: relative;
  margin-bottom: 25px
}

.feature-item::before, .feature-item::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -38px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red)
}

.advantages {
  margin-top: 37px
}

.advantages p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 34px
}

.table {
  margin-top: 24px;
  min-height: 125px
}

.figures {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px
}

.percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  padding-right: 18px
}

.indicators {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-black)
}

.logo {
  list-style: none;
  display: grid;
  grid-template-columns: 279px 298px 298px 279px;
  border-top: 2px solid var(--pale-grey);
  border-bottom: 2px solid var(--pale-grey);
  margin: 0;
  margin-bottom: 78px
}

.logo a {
  opacity: .2
}

.logo a:hover, .logo a:focus {
  background-color: var(--basic-white);
  opacity: 1
}

.logo a:active {
  opacity: .1
}

.logo-html-academy {
  padding-top: 63px;
  padding-bottom: 49px;
  margin-left: -5px;
  position: relative
}

.logo-html-academy::after {
  content: "";
  position: absolute;
  top: 89px;
  left: 218px;
  width: 52px;
  height: 2px;
  background-color: var(--pale-grey)
}

.logo-html-academy::after {
  transform: rotate(-90deg)
}

.logo-barbershop-borodinski {
  padding-top: 46px;
  padding-bottom: 44px;
  margin-left: 5px;
  position: relative
}

.logo-barbershop-borodinski::after {
  content: "";
  position: absolute;
  top: 89px;
  left: 229px;
  width: 52px;
  height: 2px;
  background-color: var(--pale-grey)
}

.logo-barbershop-borodinski::after {
  transform: rotate(-90deg)
}

.logo-pink {
  padding-top: 65px;
  padding-bottom: 63px;
  padding-left: 20px;
  position: relative
}

.logo-pink::after {
  content: "";
  position: absolute;
  top: 89px;
  left: 236px;
  width: 52px;
  height: 2px;
  background-color: var(--pale-grey)
}

.logo-pink::after {
  transform: rotate(-90deg)
}

.logo-mishka {
  padding-top: 52px;
  padding-bottom: 44px;
  padding-left: 27px;
  position: relative
}

.map-container {
  position: relative;
  z-index: 400;
  margin: 0 auto
}

.map {
  position: absolute
}

.img-map {
  width: 1440px;
  height: 416px;
  background-image: url(../img/index/img-map.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 200
}

.map-contacts-container {
  position: absolute;
  height: 308px;
  top: 55px
}

.map-contacts {
  width: 319px;
  height: 308px;
  background: var(--basic-white);
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 300
}

.map-contacts p {
  padding-left: 50px
}

.map-contacts-title {
  width: 193px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 5px
}

.map-contacts-address, .map-contacts-tel {
  width: 230px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-grey);
  text-align: start
}

.map-contacts-tel {
  margin-top: 2px;
  margin-bottom: 37px
}

.button-write {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 17px 44px 15px 44px;
  background-color: var(--basic-red);
  border-radius: 3px;
  margin-left: 50px
}

.button-write:hover, .button-write:focus {
  background-color: var(--extra-red)
}

.button-write:active {
  background-color: var(--dark-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  color: rgba(255, 255, 255, .3)
}

.footer-social {
  display: flex;
  margin-top: 50px;
  margin-bottom: 68px
}

.social-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  margin-right: 11px;
  background: linear-gradient(0deg, var(--grey), var(--grey)), var(--basic-white);
  fill: var(--basic-white)
}

.social-button:hover, .social-button:focus {
  background: linear-gradient(0deg, var(--extra-red), var(--extra-red)), var(--basic-white)
}

.social-button:active {
  background: linear-gradient(0deg, var(--dark-red), var(--dark-red)), var(--basic-white);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  fill-opacity: .3
}

.social-text {
  margin-left: 129px
}

.social-text p {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
  margin-bottom: 10px;
  margin-top: 23px;
  width: 660px
}

.social-text span {
  width: 373px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-grey)
}

.modal-container {
  position: fixed;
  z-index: 700;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%)
}

.modal-feedback {
  display: none;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  background: var(--basic-white);
  padding: 20px 99px 84px 100px;
  height: inherit
}

.modal-show {
  display: block;
  animation: bounce 0.6s
}

.modal-error {
  animation: shake 0.6s
}

.modal-feedback h3 {
  width: 311px;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 37px
}

.modal-feedback p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0
}

.feedback-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 761px
}

.feedback-form p:nth-child(3) {
  margin-top: 34px
}

.feedback-form label {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px
}

.user {
  font-weight: 400;
  font-size: 16px;
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: .5;
  width: 342px;
  height: 47px;
  padding: 0;
  background: var(--basic-white);
  border: 2px solid var(--border-grey);
  border-radius: 3px
}

.user:hover {
  border: 2px solid var(--hover-grey);
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: .5;
  outline: none
}

.user:focus {
  border: 2px solid var(--basic-black);
  color: var(--dark-grey);
  outline: none
}

.user:invalid {
  border: 2px solid var(--extra-red);
  color: var(--extra-red)
}

input[type="text"]::placeholder, input[type="email"]::placeholder {
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: .5
}

textarea[type="text"]::placeholder {
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: .5
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder {
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: .5
}

textarea[type="text"]::-webkit-input-placeholder {
  color: var(--dark-grey);
  mix-blend-mode: normal;
  opacity: .5
}

.name-user, .email-user {
  padding-left: 16px
}

.text-user {
  width: 744px;
  height: 101px;
  padding-left: 16px;
  padding-top: 13px;
  margin: 0
}

.button-send {
  width: 259px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background: var(--basic-red);
  text-transform: uppercase;
  color: var(--basic-white);
  border-radius: 3px;
  text-align: center;
  padding: 17px 83px 15px 83px;
  border: none;
  margin-top: 44px
}

.modal-feedback-close {
  position: absolute;
  top: 78px;
  right: 85px;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  fill: var(--basic-red);
  fill-opacity: .3
}

.modal-feedback-close:hover, .modal-feedback-close:focus {
  fill-opacity: 1
}

.modal-feedback-close:active {
  fill-opacity: .1
}

@keyframes bounce {
  0% {
    transform: translateX(-500px)
  }
  100% {
    transform: translateX(0)
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0)
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px)
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px)
  }
}

.catalog-nav-logo:hover, .catalog-nav-logo:focus {
  fill: var(--basic-black)
}

.catalog-nav-logo:active {
  fill: var(--light-grafit)
}

.nav-item-store {
  position: relative
}

.nav-item-store::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 0;
  width: 74px;
  height: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: var(--basic-red)
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-right: 15px;
  margin: 0;
  padding-top: 71px;
  padding-bottom: 108px;
  margin-bottom: -108px;
  background-color: var(--pale-grey)
}

.page-catalog {
  margin-top: 145px;
  display: flex
}

.filter-item {
  width: 260px
}

.range-filter {
  margin-top: 49px
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--pale-grey);
  border-radius: 3px
}

.range-controls .scale {
  height: 2px;
  background: var(--border-grey)
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green)
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--range-grey);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .15);
  cursor: pointer
}

.range-controls .toggle-min {
  left: 18px
}

.range-controls .toggle-max {
  left: 160px
}

.price-controls {
  display: flex;
  justify-content: space-between
}

.price-controls label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: var(--light-black)
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background: var(--pale-grey)
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input[type="number"]::placeholder {
  color: var(--light-black)
}

input[type="number"]::-webkit-input-placeholder {
  color: var(--light-black)
}

.filter {
  padding: 0;
  margin: 0;
  width: 260px
}

.filter-item legend {
  margin: 0;
  padding: 0;
  padding-top: 19px
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none
}

.filter fieldset:first-child {
  margin-bottom: 54px
}

.filter fieldset:nth-child(2n) {
  margin-bottom: 41px
}

.filter ul {
  line-height: 19px;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--light-black);
  padding: 0;
  margin: 0
}

.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: normal
}

.filter legend:nth-child(3) {
  margin: 0;
  padding: 0;
  margin-top: 26px
}

.filter-option {
  margin-top: 13px;
  padding-bottom: 8px
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/radio-off.svg);
  background-repeat: no-repeat;
  opacity: .4
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/radio-on.svg);
  background-repeat: no-repeat;
  opacity: .4
}

.filter-input-radio:disabled + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/radio-off.svg);
  background-repeat: no-repeat;
  opacity: .1
}

.filter-input-radio:disabled + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/catalog/radio-on.svg);
  background-repeat: no-repeat;
  opacity: .1
}

.filter-checkbox {
  margin-top: 13px
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: .4
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: .4
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: .1
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 23px;
  background-image: url(../img/catalog/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: .1
}

.filter-input-checkbox:focus + label {
opacity: 1;
}

.filter-input-checkbox:disabled + label {
opacity: 0.3;
}

.filter-input-radio:focus + label{
  opacity: 1;
}

.filter-input-radio:disabled + label {
  opacity: 0.3;
}

.filter-option input:focus + label::before {
  outline: -webkit-focus-ring-color auto 1px
}

.filter-option label:hover:before {
  opacity: 1
}

.filter-option label:focus:before {
  opacity: 1
}

.filter-option label:disabled:before {
  opacity: .1
}

.filter-option label {
  color: var(--light-black);
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 36px
}

.button-show {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  width: 260px;
  height: 50px;
  background: var(--pale-grey);
  border-radius: 3px;
  margin-top: 45px;
  border: none
}

.button-show:hover, .button-show:focus {
  background: var(--middle-grey)
}

.button-show:active {
  background: var(--extra-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  color: rgba(0, 0, 0, .3)
}

.products-container {
  display: flex;
  flex-direction: column
}

.sort {
  margin-left: 140px;
  margin-bottom: 32px;
  display: flex
}

.sort p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase
}

.sort-items {
  list-style: none;
  display: flex;
  padding-top: 7px;
  margin-left: auto;
  width: 364px
}

.sort-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 25px
}

.sort-item-price a {
  color: var(--basic-black)
}

.sort-item-type a, .sort-item-name a {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: .3
}

.sort-item a:hover, .sort-item a:focus {
  opacity: .6
}

.sort-item a:active, .sort-item:active link {
  opacity: 1
}

.nav-logo-down {
  margin-left: 22px;
  color: var(--pale-black)
}

.sort-item-name {
  margin-right: 12px;
}

.sort-button-up {
  margin-left: 18px;
  fill: var(--light-grafit);
  mix-blend-mode: normal;
  fill-opacity: .2
}

.sort-button-down a {
  margin-left: 10px;
}

.sort-button-down a:hover, .sort-button-down a:focus, .sort-button-up a:hover, .sort-button-up a:focus {
  fill: var(--light-grafit);
  fill-opacity: 1
}

.sort-button-down a:active, .sort-button-down a:active link, .sort-button-up a:active, .sort-button-up:active link {
  fill: var(--pale-black);
  fill-opacity: 1
}

.products {
  width: 765px;
  padding: 0;
  margin: 0;
  margin-left: 140px
}

.card-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0
}

.card-item {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 30px;
  position: relative;
  list-style: none
}

.card-item:nth-child(2n) {
  margin-right: 0
}

.card-img-product {
  background: var(--card-grey);
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: -5px
}

.card-info {
  align-items: center;
  text-align: center;
  background: var(--pale-grey);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100
}

.card-info p {
  display: block;
  max-height: 384px;
  overflow-y: auto
}

.card-info h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin-top: 27px
}

.card-info h3:hover, .card-info h3:focus {
  color: var(--basic-red)
}

.card-info h3:active {
  color: var(--basic-black);
  opacity: .3
}

.card-info p {
  width: 255px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-grey);
  margin-top: -6px;
  margin-bottom: 32px;
  padding-left: 50px;
  padding-right: 53px
}

.card-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  padding: 17px 72px 15px 72px;
  background: var(--basic-red);
  border-radius: 3px;
  margin-bottom: 44px
}

.card-button:hover, .card-button:focus {
  background: var(--extra-red)
}

.card-button:active {
  background: var(--dark-red);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1)
}

.card-img-browser {
  color: var(--radio-grey);
  opacity: .12
}

.card:hover .card-img-browser, .card:focus .card-img-browser {
  opacity: 1
}

.card:hover .card-info {
  display: flex;
  flex-direction: column;
  justify-content: start
}


.card:hover .card-img-product {
  box-shadow: 0 6px 15px rgba(0, 1, 1, .25)
}

.card .card-info {
  display: none
}

.pagination-items {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-bottom: 60px;
  padding-left: 0;
  width: 457px
}

.pagination-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px
}

.pagination-first-page a {
  background: rgba(0, 0, 0, .0001);
  border: 3px solid var(--white-grey);
  color: var(--basic-black);
  padding: 14px 17px 12px 17px
}

.pagination-second-page a, .pagination-third-page a {
  color: var(--basic-black);
  background: var(--pale-grey);
  padding: 17px 20px 15px 20px
}

.pagination-next-page a {
  text-transform: uppercase;
  padding: 17px 77px 15px 78px;
  color: var(--basic-black);
  background: var(--pale-grey)
}

.pagination-item a:hover, .pagination-item a:focus {
  background: var(--middle-grey)
}

.pagination-item a:active {
  background: var(--extra-grey);
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, .1);
  color: rgba(0, 0, 0, .3)
}

.pagination-item a:active link {
  background: rgba(0, 0, 0, .0001);
  border: 3px solid var(--white-grey);
  color: var(--basic-black)
}