:root {
  --basic-white: #FFFFFF;
  --light-black: #283136;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --extra-red: #E74246;
  --dark-red: #D7373B;
  --pale-grey: #EEEEEE;
  --light-grey: #666666;
  --grey: #E1E1E1;
  --middle-grey: #DFDFDF;
  --extra-grey: #D5D5D5;
  --dark-grey:#444444;
  --grafit: #888888;
  --basic-green: #00CA74;
  --extra-green: #00BC6C;
  --dark-green: #00AA62;
  --light-yellow: #EFC84A;
  --basic-yellow: #EFC849;
  --extra-yellow: #EAB534;
  --dark-yellow: #E5A722;
}

body {
  min-width: 1178px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.nav-items-main, .nav-items-basket {
  list-style: none;
}

.nav-items-main-current a:not([href]) {
  background-color: var(--pale-grey);
}

.nav-items-main a,
.nav-items-basket a {
  color: var(--basic-black);
}

.nav-items-main a:hover,
.nav-items-main a:focus,
.nav-items-basket a:hover,
.nav-items-basket a:focus {
  color: var(--basic-red);
}

.nav-items-main a:active,
.nav-items-basket a:active {
  color: var(--basic-black);
  opacity: 0.3;
}




.visually-hidden {
  display: none;
}

.service {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.service-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
}

/* Заказать*/

.desc {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.principles {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
}

.features {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--light-black);
}

.feature-items {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-black);
  list-style: none;
}

.advantages {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.figures {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
}

.indicators {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-black);
}

.button-red {
  width: 160px;
  height: 50px;
  left: 140px;
  top: 922px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  background: var(--basic-red);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-green {
  width: 160px;
  height: 50px;
  left: 140px;
  top: 922px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  background: var(--basic-green);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-yellow {
  width: 160px;
  height: 50px;
  left: 140px;
  top: 922px;
  padding: 17px 40px 15px 39px;
  border-radius: 3px;
  background: var(--basic-yellow);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}
